*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  .text-small {
    font-size: 85%;
  }

  html{
    max-height: 90vh;
  }

 .mobile-view-on{
       display: none;
    }

    .navbar-brand{
      padding-top: 0;
      padding-bottom: 0;
    }

  .login-dropdown {
       transform: translate3d(-99px, 5.2px, 0px);
    }

    .dropdown-menu{
      box-shadow: 0 4px 4px rgba(0, 0, 0, .15);
    }

  @media only screen and (max-width:760px) {
    .login{
        margin-top: 10px;
        /* margin-right: 0; */
        margin-left: 0 !important;
    }

    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        flex-direction: row-reverse;
    }

    .mobile-view-on{
        display: block;
    }

    .mobile-view-off{
        display: none;
    }
  }

/* Loader start */
.loader-wrapper{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252424ba;
  z-index: 9999;
  visibility: hidden;
}
.loader {
  width: 120px;
  height: 24px;
  -webkit-mask:
    radial-gradient(circle closest-side,#000 94%,#0000) 0 0/25% 100%,
    linear-gradient(#000 0 0) center/calc(100% - 12px) calc(100% - 12px) no-repeat;
  background:
   linear-gradient(#25b09b 0 0) 0/0% no-repeat
   #ddd;
  animation: l7 2s infinite linear;
}
@keyframes l7 {
    100% {background-size:100%}
}
/* Loader end */

/* Carousel Start  */
.carousel{
  margin-top: 4.5rem;
}
.carousel-img {
  max-height: 60vh;
}
/* Carousel End  */

#alert{
  display: none;
}

.alert{
  top: 73px;
  margin-bottom: 0;
  z-index: 999;
}

.alert strong p{
  margin: 0;
}

.dropdown-item {
  cursor: pointer;
}

/*  */
/* Forum details page start */
.forum-container{
  padding-bottom: 7rem;
  padding-top: 3rem;
}

.card-img-top{
  height: 9rem;
}

.card a{
  text-decoration: none;
  color: #000;
}

.top-section{ 
  margin-top: 7rem;
  margin-bottom: 3rem;
  padding-bottom: 7rem;
}

.search-box{
  min-height: 70vh;
}

.forum-img{
  /* height: 35rem; */
  width: 100%;
}

@media only screen and (min-width:900px) and (max-width:1600px){
.comment-user .col-md-1{
  width: 5.333333%;
}
.comment-user .col-md-11{
  width:94.666667%;
}
}

@media only screen and (max-width:500px){
  .comment-user .col-md-1{
    width: 13.333333%; 
  }
  .comment-user .col-md-11{
    width: 86.666667%;
  }

  .top-section .inner-top-section{
    padding: 10px !important;
  }
}

.comment-user div i{
  padding-top: 2rem;
}

.card-details{
  padding: 1rem 0rem;
}

/* Footer start */
footer{
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100vw;
}

footer .container { 
  padding: 0 15px;
}
/* Footer end */

/* Profile section start */

.image-section{
  padding: 1rem;
}

.profile-img{
  aspect-ratio: 1;
  width: 100%;
  border-radius: 1rem;
}

@media only screen and (max-width:768px) {
  .image-section{
    padding: 0rem;
  }
  .divider{
    display: none;
  }
}
@media only screen and (min-width:768px) {
  .divider{
    height: 44rem;
    border: 1px solid #dce0e5;
  }
}



/* Profile section end */