*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
  .text-small {
    font-size: 85%;
  }
  
  body {
    /* min-height: 50rem; */
  }

 .mobile-view-on{
       display: none;
    }

  .login-dropdown {
       transform: translate3d(-99px, 5.2px, 0px);
    }

  @media only screen and (max-width:760px) {
    .login{
        margin-top: 10px;
        /* margin-right: 0; */
        margin-left: 0 !important;
    }

    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        flex-direction: row-reverse;
    }

    .mobile-view-on{
        display: block;
    }

    .mobile-view-off{
        display: none;
    }
  }

/* Loader start */
.loader-wrapper{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #252424ba;
  z-index: 9999;
  visibility: hidden;
}
.loader {
  width: 120px;
  height: 24px;
  -webkit-mask:
    radial-gradient(circle closest-side,#000 94%,#0000) 0 0/25% 100%,
    linear-gradient(#000 0 0) center/calc(100% - 12px) calc(100% - 12px) no-repeat;
  background:
   linear-gradient(#25b09b 0 0) 0/0% no-repeat
   #ddd;
  animation: l7 2s infinite linear;
}
@keyframes l7 {
    100% {background-size:100%}
}
/* Loader end */

/* Carousel Start  */
.carousel-img {
  max-height: 80vh;
}
/* Carousel End  */

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 100vw;
}

footer .container {
  /* width: auto; */
  
  padding: 0 15px;
}